    <div class="container mt-3">
        <div class="jumbotron">
            {{#if form}}
                {{>form}}
            {{else}}
                {{>show}}
            {{/if}}
            <button class="btn btn-primary mt-3 mb-5" onclick="toogle()">{{#if form }}Volver a Productos{{else}}Ir al Formulario{{/if}}</button>
        </div>
    </div>
